---
layout: default
---

{% assign conference = site.data.conference %}
<div class="main">
  <header class="main-header">
    <article class="row">
      <h1>
        <img src="assets/images/logo.svg" alt="{{conference.name}}" class="logo">
        <br>{{conference.edition}} edição
      </h1>
      <!--<h1 class="main-title">{{conference.name}}</h1>-->
      <a href="{{conference.eventick}}" target="_blank" class="register-btn">Inscreva-se</a>

      {% if conference.callforpapers.enabled %}
      <a href="{{conference.callforpapers.url}}" target="_blank" class="register-btn" style="width: 15em">
        Seja um palestrante
      </a>
      {% endif %}
    </article>
    <address class="address">
      {% if conference.date %}
      <time>{{conference.date}}, {{conference.place.name}} - {{conference.place.city}}</time>
      {% endif %}
    </address>
  </header>
  <section class="photos"></section>


  {% if conference.description1 %}
  <section class="event">
    <article class="row">
      {{ conference.description1 }}
    </article>
    <article class="row">
      {{ conference.description2 }}
    </article>
  </section>
  {% endif %}

  {% if conference.show_speakers %}

  <section class="speakers">
    <article class="row">
      <h1 class="title">PALESTRANTES</h1>

      {% for speaker in conference.speakers %}
      <div class="col-md-3 flip-container">
        <div class="flipper">
          <div class="front">
            <img src="assets/images/{{speaker.photo}}" alt="Palestrante">
          </div>
          <div class="back">
            <h1 class="speaker-name">{{speaker.name}}</h1>
            <span class="speaker-role">{{speaker.title}}</span>
            <p class="speaker-description">{{speaker.bio}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

      {% if conference.callforpapers.enabled %}
      <div class="col-md-3">
        <div class="invitation">
          <div class="flipper">
            <div class="call">
              <a href="{{conference.callforpapers.url}}" target="_blank">
                {{conference.callforpapers.title}}
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </article>
  </section>

  {% endif %}

  {% if conference.show_schedules %}

  <section class="programming">
    <h1>PROGRAMAÇÃO</h1>
    <article class="row">
      <table class="events-table" cellpadding="0" cellspacing="0">
        {% for scheds in conference.schedules %}
        <tr class="feature">
          <td class="time">
            <time>{{scheds.time}}</time>
          </td>
          {% for talk in scheds.talks %}
          <td class="event-detail">
            <ul class="schedule-list">
              <li>
                <h2 class="header">
                  <span class="talk-title">{{talk.title}}</span>
                  {% if talk.room %}
                  <span class="room">
                    {{talk.room}}
                  </span>
                  {% endif %}

                  {% for speaker in talk.speakers %}
                  <span class="speaker">
                    {{speaker.name}}
                    {% if  speaker.title %}
                    , {{speaker.title}}
                    {% endif %}
                  </span>
                  {% endfor %}
                </h2>
                <span class="description">{{talk.description}}</span>
              </li>
            </ul>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </article>
  </section>

{% endif %}

  <section class="local">
    <div class="bg-image"></div>
    <article class="row"><img src="assets/images/foto-hotel.jpg" alt="{{conference.place.name}}" class="faro-hotel">
      <address class="event-address">
        <p>Local do evento <span>{{conference.place.name}} em {{conference.place.city}} </span></p>
      </address>
      <a href="{{conference.place.map}}" target="_blank" class="more-info">Como chegar</a>
    </article>
  </section>
  <section class="sponsors">
    <article class="row">
      <h1>PATROCINADORES</h1>
      {% for sponsorship in conference.sponsorships %}
      <div>
        {% if sponsorship.sponsors %}
        <div class="col-md-12">
          <h2 class="title support-title">{{sponsorship.name}}</h2>
          {% for sponsor in sponsorship.sponsors %}
          <div class="sponsor">
            <a title="{{sponsor.name}}" href="{{sponsor.website}}" target="_blank">
              <img src="assets/images/{{sponsor.logo}}" class="image">
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <div class="row">
        <a class="invitation"
           href="{{conference.sponsorship.mediakit}}"
           target="_blank">Seja um patrocinador</a>
      </div>
    </article>
  </section>
  <footer class="main-footer">
    <p class="copyright">© Copyleft {{ 'now' | date: "%Y" }} - source com ❤️ no <a
       href="https://github.com/riosulvalley/devsummit" target="_blank">GitHub</a></p>
  </footer>
</div>
