{% assign conference = site.data.conference %}

<head>
  <title>
    {{conference.name}} - {{conference.slogan}}
  </title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description1 | strip_html}} {{ site.description2 | strip_html}}. {% endif %}">

  <meta name="title" content="{{conference.name}} - {{conference.slogan}}">
  <meta name="author" content="{{ site.author }}"/>
  <meta name="Copyright"
        content="Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}. All Rights Reserved.">

  <!-- Facebook -->
  <meta property="og:title" content="{{conference.name}} - {{conference.slogan}}">
  <meta property="og:site_name" content="{{ conference.name }}">
  <meta property="og:type" content="website">
  <meta property="og:description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ conference.description1 }}{{ conference.description2 }}{% endif %}">
  <meta property="og:image"
        content="{{ site.url }}/assets/images/profile.png">

  <!-- Twitter -->
  <meta property="twitter:account_id" content="{{ site.twitter_acccount_id }}"/>

  <!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32-2.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/images/favicon-96x96-2.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16-2.png">

<!-- Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700"/>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
