.main {
  width: 100%;
  min-height: 100%;
}

.row {
  margin: 0;
  padding: 25px;
}

.invitation {
	border: 2px dashed #7a2ab1;
	font-size: 20px;
	vertical-align: middle;
	line-height: 278px;
	margin-bottom: 1em;
	white-space: nowrap;
}

